<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/img/santoto_escudo.png" alt="logito" />
    {{ titulo }}</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/inicio']" routerLinkActive="active"
          >Inicio</a
        >
      </li>
      <!-- Inicio menu profesores -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Profesores
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a
            class="dropdown-item"
            [routerLink]="['/profesores/listar']"
            routerLinkActive="active"
            >Listar</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/profesores/crear']"
            >Crear</a
          >
          <a class="dropdown-item" [routerLink]="['/profesores/admin']"
            >Administrar</a
          >
        </div>
      </li>
      <!-- Fin menu profesores -->

      <!-- Inicio menu universidades -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Universidades
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a
            class="dropdown-item"
            [routerLink]="['/universidades/listar']"
            routerLinkActive="active"
            >Listar</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/universidades/crear']"
            >Crear</a
          >
          <a class="dropdown-item" [routerLink]="['/universidades/admin']"
            >Administrar</a
          >
        </div>
      </li>
      <!-- Fin menu universidades -->

      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/externa']"
          routerLinkActive="active"
          >Parte publica</a
        >
      </li>
    </ul>
    <span class="navbar-text">
      <a [routerLink]="['/acceso']"> Usuarios registrado</a>
    </span>
  </div>
</nav>
