<div class="mt-1">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
      <li class="breadcrumb-item">
        <a href="javascript: void(0)">Profesores</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Administrar</li>
    </ol>
  </nav>
</div>

<!-- Paginador -->
<div class="row justify-content-md-center">
  <div class="col-md-4 text-left" style="padding-left: 0px">
    <small>
      <strong>{{ cantidadTotalRegistros }}</strong> registros encontrados en
      <strong>{{ cantidadPaginas }}</strong> páginas</small
    >
  </div>
  <div class="col-md-7 text-right" style="padding-right: 0px">
    <small>
      <pagination-controls
        id="profePagination"
        (pageChange)="paginaActual = $event"
        [maxSize]="15"
        [directionLinks]="true"
        previousLabel="Anterior"
        nextLabel="Siguiente"
      >
      </pagination-controls>
    </small>
  </div>
</div>
<!-- Fin del paginador -->

<div class="row justify-content-md-center">
  <table class="table table-hover col-md-11">
    <thead class="thead-dark">
      <tr>
        <th style="width: 10%">Codigo</th>
        <th style="width: 20%">Documento</th>
        <th style="width: 40%">Nombre</th>
        <th style="width: 20%">Foto</th>
        <th style="width: 10%">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let objProf of arrProfesores
            | paginate
              : {
                  id: 'profePagination',
                  itemsPerPage: cantidadMostrar,
                  currentPage: paginaActual,
                  totalItems: cantidadTotalRegistros
                };
          let i = index
        "
      >
        <th>{{ objProf.codigo }}</th>
        <td>{{ objProf.documento }}</td>
        <td>{{ objProf.nombreProfesor }}</td>
        <td>{{ objProf.nombreFoto }}</td>
        <td>
          <i class="far fa-trash-alt"></i>
          &nbsp;
          <a [routerLink]="['/profesores/editar', objProf.codigo]"
            ><i class="far fa-edit"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
