<section class="container">
  <div class="row pt-5">
    <div class="col-sm-6 mx-auto">
      <div class="card shadow-lg">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <h5 class="mx-auto w-100">Usuarios registrados</h5>
            <i class="fa fa-key text-danger" style="font-size: 17px"></i>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group mx-auto">
              <div class="col-sm-12">
                <span class="text-danger"></span>
                <input
                  class="form-control"
                  type="text"
                  required
                  style="border-radius: 2rem"
                  placeholder="Correo electronico"
                  name="usu"
                />
              </div>
              <div class="col-sm-12 mt-3">
                <span class="text-danger"></span>
                <input
                  class="form-control"
                  type="password"
                  required
                  style="border-radius: 2rem"
                  placeholder="Contraseña"
                  name="con"
                />
              </div>
            </div>
            <div class="form-group mx-auto col-sm-12">
              <a
                class="btn btn-block btn-dark"
                style="border-radius: 3rem"
                [routerLink]="['/validar']"
                >Iniciar sesión</a
              >
              <a
                class="btn btn-block btn-danger"
                style="border-radius: 3rem"
                [routerLink]="['/inicio']"
                >Regresar</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
