<nav id="menuLateral">
  <div class="list-group">
    <a
      class="list-group-item list-group-item-action list-group-item-primary"
      style="padding-top: 5px; padding-bottom: 5px"
      [routerLink]="['/externa/detalle', 0]"
      (click)="inicializar()"
      >Profesores</a
    >
    <small>
      <a
        *ngFor="let profeObj of arrProfesores; let i = index"
        [routerLink]="['/externa/detalle', profeObj.codigo]"
        class="list-group-item list-group-item-action"
        style="padding-bottom: 3px; padding-top: 3px"
        [class.list-group-item-danger]="profeObj == objProfeSeleccionado"
        (click)="seleccionarProfe(profeObj)"
        >{{ i + 1 }}. {{ profeObj.nombreProfesor }}</a
      >
    </small>
  </div>
</nav>
